.App {
  text-align: center;
  display: flex;
}

.choicePanel {
  max-width: 25%;
  border: 5px solid #ccc;
  text-align: left;
  padding: 10px;
  max-height: 100vh;
  overflow-y: scroll;
  text-decoration: underline;
  box-sizing: border-box;
}

.countryName {
  margin: 0;
  padding: 10px;
}
.countryName:hover {
  background: #f9f59f;
}