.FullCountry {
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 2%;
    width: 75%;
    border: 5px solid #ccc;
    max-height: 100vh;
}

.FullCountry img {
    max-width: 300px;
    max-height: 200px;
}

.FullCountry_Desc {
    font-size: 20px;
}